{
    "app": {
        "port": 3001
    },

    "debug": true,

    "jwt": {
        "expiresIn": "1h"
    },

    "protectedFields": ["password", "username"],

    "logger": {
        "maxLoggingLevel": "silly",
        "disableConsole": false,
        "maxStringifyDepth": 10
    },

    "eradaniConnect": {
        "xml": {
            "host": "localhost",
            "port": 47700,
            "path": "/cgi-bin/xmlcgi.pgm",
            "usePOST": true,
            "debug": true
        },
        "odbc": "DSN=*LOCAL;NAM=1;CCSID=1208",
        "odbcOptions": {
            "debug": true,
            "noPool": false,
            "pool": {
                "initialSize": 10,
                "maxSize": 10,
                "incrementSize": 1
            }
        },
        "credentials": {
            "username": "ECNCT",
            "password": "password"
        },
        "native": {
            "templateLib": "ECNCTAPP",
            "templateDataLib": "QIWS"
        }
    },

    "defaults": {
        
    }
}
